node_modules
.next
.env
.env.local
.env.*
!.env.example
coverage
*.log
prisma/dev.db
outputs/
work/
.DS_Store
Thumbs.db
*.pem
*.key
*.pfx
*.p12
.idea/
.vscode/
*.swp
*.tmp
*.bak
*.orig
*.tsbuildinfo
*.crt
*.cer
*.der
*.jks
*.keystore
!.github/
